@import "tailwindcss";

@theme{
  --color-custom: #d0b583;
  --color-navy-100: #E6E6F5;
  --color-navy-200: #B3B3E6;
  --color-navy-300: #8080D6;
  --color-navy-400: #4D4DC6;
  --color-navy-500: #1A1AB8;
  --color-navy-600: #0000A0;
  --color-navy-700: #000090;
  --color-navy-800: #000080;
  --color-navy-900: #000040;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
